
.card {
  background-color: #f6f6f6;
  color: #999999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.25rem;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 2rem;
  margin: 2rem;
}

.card-title {
  color: #696969;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-body {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: .5rem;
  margin-bottom: 1.25rem;
}

.btn {
  border: none;
  padding: 0.5rem;
  text-transform: lowercase;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  padding: 0 1.5rem;
}

.btn-primary {
  background:#00c8b3;
  color: white;
}

.btn-danger {
  background: #ee6e73;
  color: white;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 0.9;
}
