* {
  margin: 0;
  padding: 0;
}

.container { 
  font-family:'Roboto';
  width:60%; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 0;
}


/* MEDIA QUERIES ======================== */
@media (max-width: 576px) {
  .container {
    width:100%; 
  }
}
